/.vscode
/ajax-xhr.html
/array.html
/arrow-function.html
/datatype.html
/destructuring-assignment.html
/drap and drop
/event-handling.html
/flow-loop.html
/function-return.html
/function.html
/html-css
/html-dom-concept.html
/html-dom-practice.html
/javascript.html
/object-json.html
/operator.html
/variable.html